#footer footer {
	clear:both;
	height:40px; 
	border-radius: 5px; 
	background:url("../img/login/bar.png") repeat-x;
}


#footer footer ul {
	padding: 15px 15px 0 15px;
	list-style:none;

}


#footer footer ul li {
	float:left;
	margin-left: 5%;
	text-align:center;
	
}

#footer footer ul li:last-child {
	float:right;
	
}

#footer footer ul li a {
	text-decoration: none;
	display: block;
	color:black;
	text-transform: uppercase;
}

#footer footer ul li:hover a{


	background-color: red;
	color:white;
	border-radius: 2px;
	border-color: yellow;


}

#footer footer ul li:hover a#flecha {
	background-color: inherit;
}

#footer footer#copyright {
	display:inline-block;
	float:right;
}



img.flecha {
	width:17px;
	height:17px;
}
