#logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

#LoginAndRegister{
float:right;
text-align: center;
position: relative;
}

a.boton{
	float:right;
	color: white;
	text-align:center;
	line-height: 35px;
	margin: auto auto 10px 10px;
	width:110px;
	height:35px;
	background-image: url("../img/boton.png");
	text-decoration:none;
}

#cabecera {
}

#menu-cabecera {
	clear:both;
	font-size:1.15em;
	height:40px; 
	border-radius: 5px; 
	background:url("../img/login/bar2.png") repeat-x;
}


#menu-cabecera ul {

	/*list-style : url("../img/barra.jpg");*/
	list-style-position: outside;
	line-height: 1em;
	list-style: none;
}

#menu-cabecera ul li:first-child{
	list-style: none;
	background: transparent;
}

#menu-cabecera ul li {
	float:left;
	margin-left: 5%;
	text-align:center;
	min-height: 10px;
	padding:15px;
}

#menu-cabecera ul li a {
	text-decoration: none;
	display: block;
	color:black;
	text-transform: uppercase;
}

#menu-cabecera ul li:hover{



	color:white;
	border-color: yellow;

	background-color:red;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
  	-webkit-transition: all 100ms ease-in;
  	-moz-transition: all 100ms ease-in;
  	-o-transition: all 100ms ease-in;
 	 transition: all 100ms ease-in;


}


