#menus-izq {
	word-wrap: break-word;
	float: left;
	width:21%;
	clear:both;
	
}

#menu-user, #recomendaciones {
	text-align:center;
	width: 95%;
	padding: 0;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left:0;
	border: 0;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius:5px;

	background-color: #405656;
	color:white;
}

#menu-user ul,
#menu-user ul li,
#menu-user ul ul, 
#recomendaciones ul,
#recomendaciones ul li,
#recomendaciones ul ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

#menu-user a, #menu-user > ul > li:first-child, #recomendaciones a, #recomendaciones > ul > li:first-child {
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	color:white;

}
#menu-user > ul > li:first-child{

	font-size: 160%;
	font-weight: bold;

}

#menu-user > ul > li > a, #menu-user > ul > li:first-child {
	color: #ffffff;
	text-shadow: 0 1px 1px #000;
	background: #005656;
	background: -moz-linear-gradient(#005656 0%, #323232 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005656), color-stop(100%, #323232));
	background: -webkit-linear-gradient(#005656 0%, #323232 100%);
	background: linear-gradient(#005656 0%, #323232 100%);
	border: 1px solid #000;

}

#recomendaciones > ul > li > a, #recomendaciones > ul > li:first-child {
	font-size: 120%;	
	color: inherit;
	background: inherit;
	border: inherit;

}

#recomendaciones > ul > li:first-child{

	font-size: 140%;


}

 #menu-user > ul > li:first-child > a, #recomendaciones > ul > li:first-child > a {
	border-top-left-radius:5px;
	border-top-right-radius:5px;

 }

#menu-user > ul > li:last-child > a, #recomendaciones > ul > li:last-child > a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#menu-user li li:hover a, #menu-user li li:hover a {
    background: #8AA9B8;
	color: #fff;
}

/* Sub menu */
#menu-user ul ul {
  display: none;
}
#menu-user ul ul li {
  padding: 3px 0;
}
#menu-user ul ul a {
  display: block;
  /*color: #595959;*/
  /*font-weight: bold;*/
}

input[type="text"].search {
    width: 57%;
	margin-top: 5%;
}

input[type="submit"].search {
    width: 34%;
	margin-top: 5%;
}

#recomendaciones a {
	text-decoration: none;
	color: white;
}

#caratula-recomendaciones{
	margin: 0 auto;
	height: 100%;
	width: 60%;

}
