body {
	min-width: 800px;
	font-family: Century Gothic;
	font-size :62.5%;
	margin:1%;
	background:url("../img/fondo.jpg");
	background:url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#contenedor {
	/*margin:top rightbottomleft;*//*L: Todos los márgenes a la vez*/
	position:relative;
}

#cabecera {
}

#menus-izq {
	word-wrap: break-word;
	float: left;
	width:21%;
}

#contenido {
	float:left;
	width: 69%;
	word-wrap: break-word;
    background-color: OldLace;
	margin: 1% 0 1% 0;
	padding: 5%;
}

input[type="text"].search {
    width: 57%;
	margin-top: 5%;
}

input[type="submit"].search {
    width: 34%;
	margin-top: 5%;
}

#estrellas{
	text-align: center;
	height: 20px;
	width: 70px;
}



ul.col { 
	float:left;
	width: 100%; 
	list-style: none;
	margin: 0 auto;
} 

ul.col li { 
	float:left;
	display: inline;
	width: 30%;
	border: 1px solid black;
}

/* FORMS */

 fieldset {
  margin-bottom: 1%;
}

 label {
  display: inline-block;
  line-height: 1.8;
  margin-bottom: 10px;
  width: 120px; /* Width of labels */
}

input.addcontent, textarea.addcontent {
	width: 80%;
}
/**/
input.contact1 {
	width: 35%;
}

input.contact2 {
	width: 71%;
}
/**/
textarea.contact {
	width: 85%;
}

textarea.register, input.register1 {
	margin: 4px;
	width: 100%;
}


textarea {
	height: 100px;
	resize: none;
}

.error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
}

.error ul {
	list-style:none;
}
/**/
h2{
	font-size : 30px;
	padding : 40px;
}

#icono{
	float:right;
	width:20%;
	height:20%;
}
/**/
