body {
	min-width: 800px;
	font-family: Century Gothic;
	font-size :62.5%;
	margin:1%;
	background:url("../img/fondo.jpg") 50% 50% no-repeat;
	background-size: cover;
}

#contenedor {
	/*margin:top rightbottomleft;*//*L: Todos los márgenes a la vez*/
	position:relative;
}


#contenido {
	float:left;
	width: 69%;
	word-wrap: break-word;
    background-color: OldLace;
	margin: 1% 0 1% 0;
	padding: 5%;
}

#estrellas{
	text-align: center;
	height: 20px;
	width: 70px;
}



ul.col { 
	float:left;
	width: 100%; 
	list-style: none;
	margin: 0 auto;
} 

ul.col li { 
	float:left;
	display: inline;
	width: 30%;
	border: 1px solid black;
}

/* FORMS */

 fieldset {
  margin-bottom: 1%;
}

 label {
  display: inline-block;
  line-height: 1.8;
  margin-bottom: 10px;
  width: 120px; /* Width of labels */
}

input.addcontent, textarea.addcontent {
	width: 80%;
}
/**/
input.contact1 {
	width: 30%;
}

input.contact2 {
	width: 65.4%;
}
/**/
textarea.contact {
	width: 85%;
}

textarea.register, input.register1 {
	margin: 4px;
	width: 100%;
}


textarea {
	height: 100px;
	resize: none;
}

.error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
}

.error ul {
	list-style:none;
}
/**/
h2{
	font-size : 30px;
	padding : 40px;
}

#icono{
	float:right;
	width:20%;
	height:20%;
}

#detalle{/*etiqueta para los bloques que forman las series, en pequeño*/
	border: 1px solid blue;
	display:inline-block;
	padding: 30px;
	text-align:center;
	margin-top: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color: #405656;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius:5px;
	text-align:center;
}

#detalle a img{/*etiqueta para los bloques que forman las series, en pequeño*/
	margin: 0 auto;
	height: 100px;
	width: 75px;
}

nav.menu-desplegable{
	clear:both;
	height:30px;
	/*background-color: rgba(51, 51, 51, 1);*/
	background-color: #405656;
	padding: 5px;
	/*margin: 10px auto auto auto;*/
	margin-top: -2%;
}
nav.menu-desplegable ul {
	margin : 0 auto;
	width : 100%;
	list-style : none;
}

nav.menu-desplegable ul li {
	float : left;
	margin-left: 5%;
}

nav.menu-desplegable ul li a{

	display : block;
	font-size : 14px;
	text-align : center;
	color : white;

}
#caratula{
	margin: 0 auto;
	height: 170px;
	width: 150px;

}
/**/
#enviar{

display: none;


}

.hide{

display: none;

}

#titulo-serie, #titulo-mercha {
	margin-top: 10px;
	font-size: 20px;
	text-align:center;
}

#cartel {
	float:left;
	padding-right : 10px;

}

#descripcion-basica{
	padding-right: 5%;
	font-size:13px;
	text-align : justify;

}

#cartel, #descripcion-basica { 
	padding-top: 10px;
	padding-left: 5%;
}
