/******ESTILO BASICO*******/

body {
	min-width: 800px;
	font-family: Century Gothic;
	font-size : 62%;
	margin:1%;
	background:url("../img/fondo.jpg") no-repeat fixed center;
	background-size: 100% 100%; 
}

h2{
	font-size : 30px;
	padding : 40px;
}

a{
	text-decoration: none;
	font-size: 120%;
	color: black;
}



a:visited {
    text-decoration: none;
    color:black;
} 

#contenedor {
	/*margin:top rightbottomleft;*//*L: Todos los márgenes a la vez*/
	position:relative;
}

#search-index {
	float:left;
	width: 79%;
}

#search-index input {
	margin-top:1%;
	width:99.5%;
}

#contenido {
	float:left;
	width: 69%;
	background-color: rgba(216,169,77, 0.9);
	margin: 1% 0 1% 0;
	padding: 5% 5% 5% 5%;
	border-radius: 3px;
}

#estrellas{
	text-align: center;
	width: 60%;
}

.error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
}

.info {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: blue;
	background-color: #008080;
	background-image: url('../img/error.png');
}

.error ul {
	list-style:none;
}

.hide{

display: none;

}

/******************* FORMULARIOS *******************/

fieldset {
  margin-bottom: 1%;
}

label {
  display: inline-block;
  line-height: 1.8;
  margin-bottom: 10px;
  width: 120px; /* Width of labels */
}

input.addcontent, textarea.addcontent {
	width: 80%;
}


input.contact1 {
	width: 30%;
}

input.contact2 {
	width: 65.4%;
}


textarea.contact {
	width: 85%;
}

textarea.register, input.register1 {
	margin: 4px;
	width: 25%;
}

#registro{

	font-size: 120%;

}

#descripcion2, #descripciones{

	width: 90%;
}

textarea {
	height: 100px;
	resize: none;
}


#icono{
	float:right;
	width:20%;
	height:20%;
}

#enviar{

display: none;


}

input[type=submit].button {
    float:right;
    margin-top:10px;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    font-size:20px;
}

/************UTILIDADES DE MOSTRADO************/

#detalle{/*etiqueta para los bloques que forman las series, en pequeño*/
	border: 1px solid blue;
	float:left;
	padding: 3%;
	text-align:center;
	width: 12%;
	margin-top: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color: #405656;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius:5px;
}

#detalle a img{/*etiqueta para los bloques que forman las series, en pequeño*/
	height: 100px;
	width: 75px;
}

#caratula, #caratula2{
	margin: 0 auto;
	height: 170px;
	width: 150px;

}

#val-pagina{
	clear:both;
	text-align:center;
}


#val-usuario, #val-pagina {
	margin-top:10px;
	float:left;
	width: 50%;
	text-align:center;

}

#val-usuario img {
	height:15px;
}

#formbuscausu{
	margin-left:25%;

}

/***************UTILIDADES DESCRIPCION********************/
#titulo-serie, #titulo-mercha {
	margin-top: 10px;
	font-size: 20px;
	text-align:center;
}

#cartel, #cartel2 {
	float:left;
	padding-right : 10px;

}

#descripcion-basica{
	padding-right: 5%;
	font-size:13px;
	text-align : justify;

}

#cartel, #cartel2, #descripcion-basica { 
	padding-top: 10px;
	padding-left: 5%;
}



#precio{
	margin-top: 20px;
	float:right;
	width:50%;
	font-size:150%;

}

#proveedor,#unidades{
	font-size:120%;

}

#titulo{
	clear:both;
	padding-top: 60px;
	font-size:16px;
	text-decoration: underline;
	font-weight: bold;
	text-align:center;
}

#texto {
	clear:both;
	padding-left: 5%;
	padding-right: 5%;
	font-size:13px;
	display: inline-block;
	text-align:justify;
}

#comentarios{
	
	clear:both;
	display: left;
	padding-left: 5%;
	padding-right: 5%;
	font-family: calibri;
	font-size :13px;
	text-align:justify;
}

#comentarios #textarea {
	width: 100%;
}

#detalle-comentario{
	border: 1px solid blue;
	display:inline-block;
	padding-top : 3%;
	padding-right: 5%;
	padding-left : 5%;
	width: 90.5%;
	margin-top: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color:#BDD5D5;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius:5px;

}

/**********MERCHANDISING**********/

#merchandising{
	text-align:center;
}

#detalle-merchandising{/*etiqueta para los bloques que forman las series, en pequeño*/
	border: 1px solid blue;
	float:left;
	padding: 3%;
	text-align:center;
	width: 12%;
	margin-top: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color: #405656;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius:5px;
}

#foto-merchandising{
	margin: 0 auto;
	height: 100px;
	width: 100px;

}

/*************TABLAS*************/

#tabla-contenido
{
	font-size: 12px;
	margin: 45px;
	width: 85%;
	text-align: left;
	border-collapse: collapse;
}
/*Encabezado de la tabla*/
#tabla-contenido th 
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color : white;
	background: #237373;
}
/*Interior de la tabla*/
#tabla-contenido td
{
	padding: 8px;
	background: #e5f3f2;
	border-top: 1px solid #fff;
	color: #669;
}
/*Sombreado cuando se pasa el ratón*/
#tabla-contenido tbody tr:hover td
{
	background: #237373;
	color : #f0f4f4;
}
#tabla-contenido tbody tr:hover td a{
	color : #f0f4f4;

}

/**************** MENU ORDENACION ****************/

#menu-ordenar{

	clear:both;
	font-size:1.15em;
	height:40px; 
	border-radius: 5px; 
	background-color:#237373;

}

#menu-ordenar ul{
	list-style: none;
	display: inline;

}

#menu-ordenar ul li{
	float:left;
	text-align:center;
	display: inline;
	margin-left: 5%;
	text-transform: uppercase;
	min-width: 20%;
	padding: 12px;
}

#menu-ordenar ul li a:hover{
	color: rgba(216,169,77, 0.9);
	

}

#menu-ordenar ul li a{
	text-decoration: none;
	display : block;
	text-align : center;
	color : white;

}



/*****************PERFIL******************/

a.options-comment {
	text-decoration:none;
	font-size: 12px;
	color:#ff0000;
}

img#foto-perfil {	
	float:left;
	margin-right : 10px;
	width:175px;
}

#perfil{
	border: 1px solid blue;
	display:inline-block;
	width : 80%;
	background-color: #405656;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	color : white;

}

#friends{

	clear:both;
	padding-top:1%;
}

#paginacion {
	clear:both;
	width:100%; 
	text-align:center;
}

#detalle-amigos{/*etiqueta para los bloques que forman las series, en pequeño*/
	border: 1px solid blue;
	width: 100px;
	margin: 2%;
	background-color: #405656;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius:5px;
}