#imgperfil{
<<<<<<< HEAD
=======
	padding-left: 5%;
>>>>>>> Javier
	float:left;
	max-width: 25%;
	min-height: 15%;
	width: 15%;
}

#friends{
<<<<<<< HEAD
	float:right;
=======
	float:left;
>>>>>>> Javier
	width: 15%;
	min-height: 15%;
}
#data{
<<<<<<< HEAD
	padding-left: 2%;
	width: 60%;
	float:left;
	min-height: 15%;
=======
	text-align: justify;
	padding-left: 2%;
	width: 55%;
	float:left;
	min-height: 15%;
	text-align: none;
>>>>>>> Javier

}
h1{
	text-align: center;

}